<table>
<tr>
<td>Nome</td><td> || Email</td><td> || Ver</td><td> || Editar</td><td> || Remover</td>
</tr>
<% @users.each do |user|%>
	<tr>
		<td><%= user.name %></td>
		<td> || <%= user.email %></td>
		<td> || <%= link_to "Ver" , user %></td>
		<% if current_user?(user) || current_user.admin? %>
			<td> || <%= link_to "Editar", edit_user_path(user) %></td>
		<% current_user.admin? %>
			<td> || <%= link_to "Remover", user , :method => :delete , :confirm => "Tem certeza?" %></td>
		<% end %>
	</tr>
<% end %>
</table>
<br/>
<%= link_to "Novo usuario" , new_user_path %>
